[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
pytest = "*"
flake8 = "*"
pytest-cov = "*"
redis = "*"
celery = "*"
flask-wtf = "*"
flask-debugtoolbar = "*"
flask-mail = "*"
flask-static-digest = "*"

[requires]
python_version = "3.8"
